/* Colores 

#264653 - OSCURO
#152e38 - VERDE OSCURO
#2A9D8F - VERDE
#E9C46A - MOSTAZA
#F4A261 - NARANJA
#E76F51 - LADRILLO


*/

/* HEADER */

body {
  background-color: #190031 !important;
  font-family: 'Press Start 2P', cursive !important;
}

.navColor {
  background-color: #0b001d !important;
}

header a{
  font-size: 1rem !important;
}

.navegacion a:hover {
  color: #e0aaff !important;
}

.navegacion a {
  color: #ffff !important;
}

.logo {
  color: #7b2cbf !important;
}

.btn-color {
  background-color: #E76F51 !important;
  color: #fff !important;
}

/*  MAIN  */

.cont__1, .cont__3 {
  background-color: #264653;
  height: 50vh;  
}

.textoEnemigo {
  color: #fff;
}

.titulo {
  color: #fff;
}

.spanFunciones {
  color: #fff;
}

.btn-primary {
  background-color: #9D4EDD !important;
  border-color: #7B2CBF !important;
}

.btn-primary:focus {
  box-shadow: 0 0 0 0.15rem #C77DFF !important;
}

#error {
  color: #fff;
}